<a href="https://colab.research.google.com/github/Redsoxnc87/Hello-World/blob/master/Consumer_Staples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
import math 
import scipy 
import requests

In [2]:
import pandas.plotting
import operator
import matplotlib.pyplot as plt
import scipy.stats
import os
import sys

In [3]:
conStap = pd.read_csv('Con_Staple_Stocks.csv')

In [4]:
conStap.describe()

             Last  14D Rel Str  50D Rel Str  ...        PEG    52W High     52W Low
count   33.000000    33.000000    33.000000  ...  31.000000   33.000000   33.000000
mean    93.729091     0.610303     0.536667  ...   3.592903  104.069091   66.286061
std     69.243856     0.081489     0.041957  ...   1.574285   70.078072   51.062949
min      4.170000     0.450000     0.450000  ...   1.420000   13.420000    3.020000
25%     48.280000     0.550000     0.510000  ...   2.265000   59.960000   36.270000
50%     68.460000     0.630000     0.540000  ...   3.320000   77.410000   46.590000
75%    131.640000     0.650000     0.560000  ...   4.615000  134.130000  101.420000
max    326.110000     0.790000     0.620000  ...   8.460000  331.490000  262.710000

[8 rows x 13 columns]

In [5]:
float_prct = operator.truediv(conStap['Float'],conStap['Shares Out'])

In [6]:
cum_ret = operator.add(conStap['1Y Return'],conStap['3Y Return'])

In [7]:
cum_rets = operator.add(cum_ret,conStap['5Y Return'])

In [8]:
diff_52 = operator.sub(conStap['52W High'],conStap['52W Low'])

In [9]:
rsi_diff = operator.sub(conStap['14D Rel Str'], conStap['50D Rel Str'])

In [10]:
conStap['Float_Prct']=(float_prct)
conStap['Cummulative_Returns']=(cum_rets)
conStap['Diff_52_Wk']=(diff_52)
conStap['RSI_Diff']=(rsi_diff)

In [11]:
conStap.describe()

             Last  14D Rel Str  ...  Diff_52_Wk   RSI_Diff
count   33.000000    33.000000  ...   33.000000  33.000000
mean    93.729091     0.610303  ...   37.783030   0.073636
std     69.243856     0.081489  ...   25.058802   0.052786
min      4.170000     0.450000  ...   10.400000  -0.020000
25%     48.280000     0.550000  ...   18.770000   0.050000
50%     68.460000     0.630000  ...   28.760000   0.080000
75%    131.640000     0.650000  ...   51.670000   0.100000
max    326.110000     0.790000  ...  107.720000   0.220000

[8 rows x 17 columns]

In [12]:
overbought = conStap.loc[(conStap['14D Rel Str'])>.70]

In [13]:
oversold = conStap.loc[(conStap['14D Rel Str'])<.55]

In [14]:
len(oversold)

8

In [15]:
oversold

   Symbol                          Name  ...  Diff_52_Wk  RSI_Diff
7    COTY                      Coty Inc  ...       10.40      0.01
8     CPB         Campbell Soup Company  ...       17.51      0.00
9      EL        Estee Lauder Companies  ...       83.41      0.01
27    STZ      Constellation Brands Inc  ...      107.72     -0.02
28    SYY                    Sysco Corp  ...       59.98      0.03
29    TAP  Molson Coors Brewing Company  ...       28.76      0.06
30    TSN                   Tyson Foods  ...       51.67      0.05
31    WBA      Walgreens Boots Alliance  ...       27.85     -0.01

[8 rows x 19 columns]

In [16]:
osold_hret = oversold.loc[(oversold['Cummulative_Returns'])>0]

In [17]:
len(osold_hret)

5

In [18]:
osold_hret.to_csv('Oversold_Good_Returns_Staples.csv', index=False)