<a href="https://colab.research.google.com/github/Redsoxnc87/Hello-World/blob/master/Current_StkMrkt_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
import math 
import requests
import operator
import pandas.plotting
import os 
import sys 
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
stk = pd.read_csv('Full_Market_Screen.csv')

In [6]:
stk.describe()

                Last      Sales(a)  ...    High Target  Analyst Rating
count    2768.000000  2.768000e+03  ...    2683.000000     2768.000000
mean      176.570464  6.523884e+09  ...     229.862479        3.633125
std      6035.224684  2.284462e+10  ...    7735.149012        1.250919
min         0.165400  1.500500e+08  ...       0.100000        0.000000
25%        11.157500  4.561450e+08  ...      17.500000        3.200000
50%        26.755000  1.258000e+09  ...      38.000000        4.000000
75%        63.500000  3.975242e+09  ...      85.000000        4.430000
max    317480.000000  5.239640e+11  ...  400632.000000        5.000000

[8 rows x 17 columns]

In [7]:
stk.Industry.value_counts()

REIT - Equity Trust Other         94
Internet - Software               77
Banks - Northeast                 53
Oil - US Exploration & Product    50
Insurance - Proprty & Casualty    48
                                  ..
Wireline National                  1
International E&P                  1
Electrical Construction            1
Semi-Eqpt Wafer Companies          1
Semi Memory                        1
Name: Industry, Length: 242, dtype: int64

In [8]:
REIT = stk.loc[(stk['Industry'])=='REIT - Equity Trust Other']

In [9]:
Int_Software = stk.loc[(stk['Industry'])=='Internet - Software']

In [10]:
Banks_NE = stk.loc[(stk['Industry'])=='Banks - Northeast']

In [11]:
Oil_Explore = stk.loc[(stk['Industry'])=='Oil - US Exploration & Product']

In [12]:
Insurance_PC = stk.loc[(stk['Industry'])=='Insurance - Proprty & Casualty']

In [13]:
REIT.describe()

             Last      Sales(a)  ...  High Target  Analyst Rating
count   94.000000  9.400000e+01  ...    94.000000       94.000000
mean    44.789787  1.228306e+09  ...    57.579787        3.765319
std     59.656861  1.350922e+09  ...    69.178253        0.656214
min      1.770000  1.563000e+08  ...     3.000000        2.000000
25%     10.647500  3.924125e+08  ...    15.250000        3.260000
50%     24.545000  7.525800e+08  ...    32.000000        3.775000
75%     47.430000  1.557468e+09  ...    69.250000        4.250000
max    318.120000  7.580300e+09  ...   366.000000        5.000000

[8 rows x 17 columns]

In [14]:
REIT_Hbook = REIT.loc[(REIT['Book Value'])>=25]

In [15]:
len(REIT_Hbook)

21

In [18]:
REIT_Hbook.to_csv('REITs_with_High_BookVal.csv', index=False)

In [19]:
Int_Software.describe()

             Last      Sales(a)  ...  High Target  Analyst Rating
count   77.000000  7.700000e+01  ...    76.000000       77.000000
mean    84.283377  9.555998e+08  ...   106.684342        3.885584
std     94.464576  2.113649e+09  ...   111.840172        1.103892
min      1.290000  1.550560e+08  ...     2.900000        0.000000
25%     20.050000  2.870200e+08  ...    29.000000        3.730000
50%     46.120000  4.217200e+08  ...    58.375000        4.150000
75%    121.530000  8.164200e+08  ...   157.500000        4.460000
max    482.230000  1.777200e+10  ...   525.000000        5.000000

[8 rows x 17 columns]

In [20]:
Int_Software_PosIncome = Int_Software.loc[(Int_Software['Net Income'])>0]

In [21]:
len(Int_Software_PosIncome)

21

In [22]:
Int_Software_PosIncome.head()

    Symbol               Name  ...                    Sector SIC Description
318   OSPN        Onespan Inc  ...  Computers and Technology             NaN
319   APPF      Appfolio Cl A  ...  Computers and Technology             NaN
376   RMNI  Rimini Street Inc  ...  Computers and Technology             NaN
519   EGOV            Nic Inc  ...  Computers and Technology             NaN
537   DDOG   Datadog Inc Cl A  ...  Computers and Technology             NaN

[5 rows x 23 columns]

In [23]:
D = operator.sub(stk['High Target'],stk['Last'])

In [24]:
stk['Upside_Trgt']=(D)

In [26]:
stk.describe()

                Last      Sales(a)  ...  Analyst Rating   Upside_Trgt
count    2768.000000  2.768000e+03  ...     2768.000000   2683.000000
mean      176.570464  6.523884e+09  ...        3.633125     49.969211
std      6035.224684  2.284462e+10  ...        1.250919   1605.552255
min         0.165400  1.500500e+08  ...        0.000000   -305.000000
25%        11.157500  4.561450e+08  ...        3.200000      4.360000
50%        26.755000  1.258000e+09  ...        4.000000      9.830000
75%        63.500000  3.975242e+09  ...        4.430000     21.415000
max    317480.000000  5.239640e+11  ...        5.000000  83152.000000

[8 rows x 18 columns]

In [27]:
stk.Sector.value_counts()

Finance                     589
Computers and Technology    442
Medical                     237
Consumer Discretionary      198
Oils-Energy                 187
Retail-Wholesale            173
Business Services           167
Industrial Products         142
Consumer Staples            132
Basic Materials             128
Transportation              106
Construction                 87
Utilities                    83
Auto-Tires-Trucks            56
Aerospace                    24
Conglomerates                17
Name: Sector, dtype: int64

In [30]:
Finance = stk.loc[(stk['Sector'])=='Finance']
Comp_Tech = stk.loc[(stk['Sector'])=='Computers and Technology']
Medical = stk.loc[(stk['Sector'])=='Medical']
Con_Disc = stk.loc[(stk['Sector'])=='Consumer Discretionary']
Oil_Energy = stk.loc[(stk['Sector'])=='Oils-Energy']
Retail_Whsale = stk.loc[(stk['Sector'])=='Retail-Wholesale']
Biz_Services = stk.loc[(stk['Sector'])=='Business Services']
Indust_Prdcts = stk.loc[(stk['Sector'])=='Industrial Products']
Con_Staples = stk.loc[(stk['Sector'])=='Consumer Staples']
Basic_Mat = stk.loc[(stk['Sector'])=='Basic Materials']
Transport = stk.loc[(stk['Sector'])=='Transportation']
Construction = stk.loc[(stk['Sector'])=='Construction']
Utilities = stk.loc[(stk['Sector'])=='Utilities']
Auto_Tire_Trucks = stk.loc[(stk['Sector'])=='Auto-Tires-Trucks']
Aerospace = stk.loc[(stk['Sector'])=='Aerospace']
Conglomerates = stk.loc[(stk['Sector'])=='Conglomerates']

In [48]:
Finance_Upside = Finance.Upside_Trgt.sum()/589

In [49]:
Comp_Tech_Upside = Comp_Tech.Upside_Trgt.sum()/442

In [50]:
Medical_Upside = Medical.Upside_Trgt.sum()/237

In [51]:
Con_Disc_Upside = Con_Disc.Upside_Trgt.sum()/198

In [52]:
Oil_Energy_Upside = Oil_Energy.Upside_Trgt.sum()/187

In [53]:
Retail_Whsale_Upside = Retail_Whsale.Upside_Trgt.sum()/173

In [54]:
Biz_Services_Upside = Biz_Services.Upside_Trgt.sum()/167

In [55]:
Indust_Prdcts_Upside = Indust_Prdcts.Upside_Trgt.sum()/142

In [56]:
Con_Staples_Upside = Con_Staples.Upside_Trgt.sum()/132

In [57]:
Basic_Mat_Upside = Basic_Mat.Upside_Trgt.sum()/128

In [58]:
Transport_Upside = Transport.Upside_Trgt.sum()/106

In [59]:
Construction_Upside = Construction.Upside_Trgt.sum()/87

In [60]:
Utilities_Upside = Utilities.Upside_Trgt.sum()/83

In [61]:
Auto_Tire_Upside = Auto_Tire_Trucks.Upside_Trgt.sum()/56

In [62]:
Aerospace_Upside = Aerospace.Upside_Trgt.sum()/24

In [63]:
Congolerates_Upside = Conglomerates.Upside_Trgt.sum()/17

In [64]:
M = operator.truediv(stk['Upside_Trgt'],stk['Last'])

In [65]:
stk['Multiple']=(M)

In [66]:
stk.describe()

                Last      Sales(a)  ...   Upside_Trgt     Multiple
count    2768.000000  2.768000e+03  ...   2683.000000  2683.000000
mean      176.570464  6.523884e+09  ...     49.969211     0.686943
std      6035.224684  2.284462e+10  ...   1605.552255     2.637047
min         0.165400  1.500500e+08  ...   -305.000000    -0.947644
25%        11.157500  4.561450e+08  ...      4.360000     0.209246
50%        26.755000  1.258000e+09  ...      9.830000     0.361669
75%        63.500000  3.975242e+09  ...     21.415000     0.662059
max    317480.000000  5.239640e+11  ...  83152.000000   119.967742

[8 rows x 19 columns]

In [69]:
Growth = stk.loc[(stk['Multiple'])>1.5]

In [70]:
len(Growth)

214

In [71]:
Growth.Industry.value_counts()

Oil - US Exploration & Product    29
Oil - Field Services              13
Oil Field Machinery & Equip        7
Internet Commerce                  6
Internet - Services                6
                                  ..
Oil - Production & Pipeline        1
Steel - Producers                  1
Oil Refining & Marketing MLP       1
Wireless Equipment                 1
Tobacco                            1
Name: Industry, Length: 95, dtype: int64

In [72]:
Growth.to_csv('Future_Growth_Projections.csv', index=False)

In [73]:
Growth.head()

   Symbol                                  Name  ... Upside_Trgt  Multiple
4     ANH           Anworth Mortgage Asset Corp  ...        3.84  2.313253
19    IMH               Impac Mortgage Holdings  ...       12.47  8.150327
27   MITT          Ag Mortgage Investment Trust  ...       11.60  4.000000
41    SBT  Sterling Bancorp Inc [Southfield Mi]  ...        7.36  2.343949
42    BBX                      Bbx Capital Corp  ...       21.61  1.613891

[5 rows x 25 columns]

In [75]:
Growth.describe()

             Last      Sales(a)  ...  Upside_Trgt    Multiple
count  214.000000  2.140000e+02  ...   214.000000  214.000000
mean     7.765332  3.581441e+09  ...    19.945462    3.928367
std     13.097065  1.005932e+10  ...    39.326640    8.644465
min      0.165400  1.504300e+08  ...     0.334600    1.500000
25%      1.565000  3.245050e+08  ...     4.875000    1.827163
50%      3.390000  8.160600e+08  ...     9.825000    2.331726
75%      8.227500  2.096172e+09  ...    18.882500    3.678296
max    111.940000  1.083240e+11  ...   459.170000  119.967742

[8 rows x 19 columns]

In [83]:
Good_Rating = Growth.loc[(Growth['Analyst Rating'])>4.4]

In [84]:
len(Good_Rating)

57

In [85]:
Pos_1yr = Growth.loc[(Growth['1Y %Chg'])>0]

In [86]:
len(Pos_1yr)

16

In [87]:
Good_Rating.describe()

             Last      Sales(a)  ...  Upside_Trgt   Multiple
count   57.000000  5.700000e+01  ...    57.000000  57.000000
mean    10.643502  3.240345e+09  ...    21.390709   2.536826
std     18.706297  1.437694e+10  ...    32.467877   1.315730
min      0.380700  1.525600e+08  ...     1.169300   1.504981
25%      2.410000  2.800700e+08  ...     4.860000   1.697874
50%      3.900000  5.797800e+08  ...     7.960000   1.948505
75%      9.160000  1.424880e+09  ...    21.840000   2.913043
max    111.940000  1.083240e+11  ...   190.060000   9.050251

[8 rows x 19 columns]

In [88]:
Grating_Deq = Good_Rating.loc[(Good_Rating['Debt/Equity'])<0.8]

In [89]:
len(Grating_Deq)

30

In [91]:
Grating_Deq.to_csv('Pos_Rating_Debt_Equity.csv', index=False)