<a href="https://colab.research.google.com/github/Redsoxnc87/Hello-World/blob/master/sect_Ratios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
import math

In [2]:
import operator
import pandas.plotting
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
constap = pd.read_csv('Con_Stap_Ratios.csv')

In [4]:
condisc = pd.read_csv('Con_Disc_Rat.csv')

In [5]:
comp = pd.read_csv('Comps_Tech.csv')

In [6]:
constap.describe()

              Last  Debt/Equity  ...      Sales(a)        ROE%
count   194.000000   165.000000  ...  1.940000e+02  194.000000
mean     65.242395     2.230485  ...  7.134858e+09   -0.167080
std     216.876511    12.296324  ...  1.366777e+10    4.908522
min       0.306500     0.000000  ...  0.000000e+00  -65.556700
25%       8.365000     0.180000  ...  2.478225e+08    0.000000
50%      24.760000     0.640000  ...  1.821830e+09    0.079000
75%      59.225000     1.590000  ...  6.593000e+09    0.175775
max    2833.850000   156.740005  ...  7.095000e+10   13.195600

[8 rows x 8 columns]

In [7]:
condisc.describe()

              Last  Debt/Equity  ...      Sales(a)        ROE%
count   252.000000   217.000000  ...  2.520000e+02  250.000000
mean     43.932826     2.255115  ...  3.983961e+09   -0.199217
std     131.365921     7.837508  ...  1.054523e+10    1.433862
min       0.620000     0.000000  ...  0.000000e+00  -19.270000
25%       5.715000     0.140000  ...  2.809175e+08   -0.127200
50%      14.730000     0.830000  ...  1.018955e+09    0.000500
75%      40.355000     2.010000  ...  3.293855e+09    0.112725
max    1826.300000   103.120003  ...  1.089420e+11    2.388400

[8 rows x 8 columns]

In [8]:
comp.describe()

              Last  Debt/Equity  ...      Sales(a)        ROE%
count   666.000000   596.000000  ...  6.660000e+02  663.000000
mean     59.462105     1.028289  ...  4.387273e+09   -0.125023
std     129.010549     4.378591  ...  1.732078e+10    1.213835
min       0.334000     0.000000  ...  0.000000e+00  -19.400200
25%       5.635000     0.050000  ...  1.186700e+08   -0.098350
50%      20.795000     0.290000  ...  4.647850e+08    0.030200
75%      61.960000     0.820000  ...  1.763650e+09    0.133600
max    1580.420000    93.040001  ...  2.601740e+11    5.252200

[8 rows x 8 columns]